p{
    text-align: center;
    font-size:20px ;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.shelf{
    margin: -70px 100px;
    height: 300px;
    width: 700px;
    background-color: rgb(195, 94, 32);
    border-radius: 10%;
    
    
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
   
    
}
.f{
   
    height: 500px;
    width: 150px;
    border-radius: 10%;
    position:absolute;
    

}
.tom{
    height: 70px;
    width: 150px;
    
   
    position:absolute;
    top: 80%;

}

.f1:hover{transform: translate(0, 150px);transition: linear;}
.f2:hover{transform: translate(0, 150px);transition: linear;}
.f3:hover{transform: translate(0, 80px);transition: linear;}
.f4:hover{transform: translate(0, 150px);transition: linear;}
.f1{
    background-color: rgb(32, 195, 73);
    left:12%;
    top: -50%;
    transform: none;
  
}
.f2{
    background-color: rgb(195, 32, 152);
    left:27%;
    top: -50%;
    transform: none;
    
}
.f3{
    background-color: rgb(86, 32, 195);
    right:-110%;
    top: 0%;
    transform: none;
}
.f4{
    background-color: rgb(32, 37, 195);
    right:-220%;
    top: 0%;
    transform: none;
}
.t1{
    background-color: rgb(187, 195, 32);
   
}
.t2{
    background-color: rgb(205, 104, 178);
}
.t3{
    background-color: rgb(195, 135, 32);
}
.t4{
    background-color: rgb(32, 168, 195);
}
